@import 'css/reset.css';
@import 'css/index.css';

/* ----------------------------關於我們 -------------------*/

/* ----------------- 介紹頁面列 ----------------- */

header{
    display: block;
    width: 1200px;
    /* border: 1px solid white; */
    margin: 140px auto 0px;
}

header h3{
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
    padding-left: 30px;
}

header p{
    font-size: 14px;
    padding-top: 10px;
    text-align: right;
    letter-spacing: 1px;
    padding-right: 30px;
}

header .underline{
    display: block;
    width: 100%;
    height: 1px;
    margin: 20px auto;
    background-color: white;
}

/* ----------------- 介紹頁面列 end----------------- */

/* -----------------------article---------------------- */

article{
    /* border: 1px solid white; */
    width: 1200px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}

section{
    display: flex;
    /* border: 1px solid red; */
    width: 1100px;
    margin: 0 auto;
}

aside li{

    padding: 20px 80px 20px 80px;
    text-align: center;
    margin-top: 20px;
}

.aside_1{
    border: 1px solid rgba(255, 152, 0, 1);
    border-left: none;
    border-right: none;
}

aside li:hover{
    border: 1px solid rgba(255, 152, 0, 1);
    border-left: none;
    border-right: none;
}

main{
    /* border: 1px solid blue; */
    width: 600px;
    margin: 0 auto;
    
}

main img{
    /* border: 1px solid paleturquoise; */
    margin: 0 150px;
    width: 50%;
    /* margin: 0 100px; */

}

main .main_img img{
    width: 100%;
    margin: 0 auto;
}

main p{
    /* border: 1px solid green; */
    text-align: justify;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.main_1{
    /* border: 1px solid wheat; */
    text-align: center;
}


/* -----------------------article end---------------------- */
















/* .home{
    background-color: white;
    height: 33px;
    padding-top: 140px;

    
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    

}



.home img{
    position: absolute;
    left: 200px;
    top: 120px;
    /* width: 40%;  }

.home p{
    color: black;
    position: absolute;
    left: 260px;
    top:143px;
   
}

.home p a{
    color: black;
}

.title{
    background-color: rgba(196, 196, 196, 1);
    height: 30px;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    
    padding-top: 170px;
}

.title p{
    color: black;
    text-align: center;
    padding-top: 8px;
}

.about_photo img{
    display: block;
    width: 100%;
    margin:0 auto;
    background-size: 100%;

    position: relative;

}


.about_photo_1{
    background-image: url('未命名-2_工作區域 1.png');
    display: block;
    width: 470px;
    height: 290px;

    position: absolute;
	top :0;
	left :0;
	bottom:0;
	right: 0;
	margin: auto;
    
    opacity: 0.8;

}




.about_photo_1:hover{ 
    background-image: url('未命名-3_工作區域 1.png');

}

/* .about_text{
    display: block;
    width: 470px;
    height: 290px;
    background-color: rgba(196, 196, 196, 1);

    position: absolute;
    top: 300px;
    left: 480px;

    opacity: 0.5;

}

.about_text p{
    color: black;
    text-align: center;
    line-height: 2.6;
    padding: 30px;
    opacity: 1;
} */

/* .about_text p{
    line-height: 2;
    margin: 40px;
    text-align: center;
}  */
