@import url('css/reset.css');
@import url('css/index.css');

/* ----------------------------MENU -------------------*/

/* ----------------- 介紹頁面列 ----------------- */

header{
    display: block;
    width: 1200px;
    /* border: 1px solid white; */
    margin: 140px auto 0px;
}

header h3{
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
    padding-left: 30px;
}

header p{
    font-size: 14px;
    padding-top: 10px;
    text-align: right;
    letter-spacing: 1px;
    padding-right: 30px;
}

header .underline{
    display: block;
    width: 100%;
    height: 1px;
    margin: 20px auto;
    background-color: white;
}

/* ----------------- 介紹頁面列 end----------------- */

/* ----------------- detail ----------------- */

.detail{
    display: block;
    width: 450px;
    height: 90%;
    background-color: rgba(255,255,255, .6);

    position: absolute;
    position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    z-index: 10;

    display: none;
}

.detail img{
    position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    height: 90%;
}

/* .close{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10%;
    height: 10%;
    cursor: pointer;
    z-index: 15;
    background-color: rgb(255 255 255 / 0%);;
}

.close img{
    width: 50%;
} */

.detail_content{
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    z-index: 100;
    background-color: #f2f2f2;
    border: 1px solid #C4A87E;
    width: 700px;
    padding: 10px;
    border-radius: 20px;
    margin: 0 auto;
    display: none;
}

.detail_1{
    /* background-color: white; */
    border: 1px solid beige;
    display: block;
    width: 400px;
    height: 50%;
    position: absolute;
    top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.detail_1 img{
    /* height: 100%; */
    position: absolute;
    top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-right: 10px;
}

.detail_1 h3{
    display: block;
    border: 1px solid red;
    color: black;
    
}















/* -----------------------article---------------------- */

article{
    /* border: 1px solid white; */
    width: 1200px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}

section{
    display: flex;
    /* border: 1px solid red; */
    width: 1100px;
    margin: 0 auto;
}

aside{
    display: flex;
}

aside li{
    padding: 20px 80px 20px 80px;
    text-align: center;
    margin-top: 20px;
}

.aside_1{
    border: 1px solid rgba(255, 152, 0, 1);
    border-left: none;
    border-right: none;
}

aside li:hover{
    border: 1px solid rgba(255, 152, 0, 1);
    border-left: none;
    border-right: none;
}

main{
    /* border: 1px solid wheat; */
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

main ul{
    /* border: 1px solid yellow; */   
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

main li{
    border-bottom: 1px solid white;
    padding: 30px;
    margin-bottom: 50px;
}

main li img{
    cursor: pointer;
}

/* -----------------------article end---------------------- *