@import 'index.css';
/* ------------ 最新消息----------  */

.news{
    width: 700px;
    margin: 280px auto;

    
}

.news li:hover{
    transform:scale(1.25,1.25);
    transition:transform 0.25s ease;
}


.news ul{  
    display: block;
   
    width: 800px;
   
}

.news li{
    display: flex;
    background-color: #fff;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 20px;
}


.news li h4{
   
    color: black;
    border-right: 1px solid black;
    padding-right: 20px;
    flex: 1;
    
}

.news li p{
    text-align: center;
    color: black;
    flex: 2;
    line-height: 1.6;
    
}


.news li img{
    flex: 1;
    border-radius: 20px;
}

/* ------------ 最新消息 end----------  */